@mixin mobile-only {
  @media (max-width: $tablet-width - 1) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin not-desktop {
  @media (max-width: $desktop-width - 1) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin desktop-full {
  @media (min-width: $desktop-full-width) {
    @content;
  }
}


@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}


@mixin rails ($indent) {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: red;
  }

  &::before {
    left: $indent;
  }

  &::after {
    right: $indent;
  }
}
