@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src:
    url("../font/sourceserifpro-light.woff2") format("woff2"),
    url("../font/sourceserifpro-light.woff") format("woff");
}


@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src:
    url("../font/sourceserifpro.woff2") format("woff2"),
    url("../font/sourceserifpro.woff") format("woff");
}


@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src:
    url("../font/sourceserifpro-semibold.woff2") format("woff2"),
    url("../font/sourceserifpro-semibold.woff") format("woff");
}


@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src:
    url("../font/sourceserifpro-bold.woff2") format("woff2"),
    url("../font/sourceserifpro-bold.woff") format("woff");
}


@font-face {
  font-family: "Myriad Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src:
    url("../font/myriadpro-bold.woff2") format("woff2"),
    url("../font/myriadpro-bold.woff") format("woff");
}


@font-face {
  font-family: "Playfair Display SC";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src:
    url("../font/playfairdisplaysc.woff2") format("woff2"),
    url("../font/playfairdisplaysc.woff") format("woff");
}
