.communication {
  text-align: center;
}

.communication__container {
  position: relative;

  &::before {
    content: "CONTACTS";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: $light-gray;
    transform: translate(-50%, -50%);
  }
}

.communication__container.fade-in-block--js {
  transform: translateY($mobile-fade-in-shift);
}

.communication__contact {
  &:not(:last-of-type) {
    margin-bottom: 18px;
  }
}

.communication__leaf {
  display: none;
}


@include tablet {
  .communication {
    position: relative;
  }

  .communication__container {
    &::before {
      font-size: 62px;
      letter-spacing: 0.4em;
    }
  }

  .communication__contact {
    letter-spacing: $spread-letter-spacing;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .communication__leaf {
    display: block;
    position: absolute;

    &--left {
      top: 240px;
      left: $tablet-padding;
      transform: translate(-50%, -50%) rotate(30deg);
    }

    &--middle-left {
      top: 80px;
      left: $tablet-rail-indent;
      transform: translate(-50%, -50%) rotate(20deg);
    }

    &--middle-right {
      top: 0;
      right: $tablet-rail-indent;
      transform: translate(50%, -50%) rotate(-100deg);
    }

    &--right {
      top: 200px;
      right: $tablet-padding;
      transform: translate(50%, -50%);
    }
  }
}


@include desktop {
  .communication__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 34px 0;

    &::before {
      font-size: 90px;
      letter-spacing: 0.6em;
    }
  }

  .communication__container.fade-in-block--js {
    transform: translateY($desktop-fade-in-shift);
  }

  .communication__contact {
    &:not(:last-of-type) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .communication__leaf {
    &--left {
      top: 220px;
      left: $desktop-padding;
    }

    &--middle-left {
      left: $desktop-rail-indent;
    }

    &--middle-right {
      right: $desktop-rail-indent;
    }

    &--right {
      top: 180px;
      right: $desktop-padding;
    }
  }
}
