.contact {
  margin: 0;
  font-weight: 600;
}

.contact__type {
  position: relative;
  padding-right: 10px;
  margin-right: 20px;

  &::after {
    content: "///";
    position: absolute;
    bottom: 0;
    left: 100%;
    letter-spacing: 2px;
    color: $green;
  }
}

.contact__data {
  color: $light-black;
  text-decoration: none;
  transition: color $transition-duration;

  &:focus {
    outline: none;
  }

  &:active,
  &:focus {
    color: $green;
  }
}


@include desktop {
  .contact__data {
    &:focus:not(.focus-visible) {
      color: $light-black;
    }

    &:hover:not(.focus-visible) {
      color: $green;
    }

    &:active:not(.focus-visible) {
      color: $light-black;
    }
  }
}
