.contact {
  margin: 0;
  font-weight: 600;
}

.contact__type {
  position: relative;
  padding-right: 10px;
  margin-right: 20px;

  &::after {
    content: "///";
    position: absolute;
    bottom: 0;
    left: 100%;
    letter-spacing: 2px;
    color: $green;
  }
}

.contact__data {
  text-decoration: none;
  color: inherit;
}
