.leaf {
  width: 45px;
  height: 45px;
  background-size: 55px 235px;
  background-repeat: no-repeat;
  background-image: url("../img/leaves-sprite.png");

  &--type-1 {
    background-position: -5px -5px;
  }

  &--type-2 {
    background-position: -5px -60px;
  }

  &--type-3 {
    background-position: -5px -115px;
  }

  &--type-4 {
    height: 60px;
    background-position: -5px -170px;
  }
}
