.logo {
  display: block;
  width: 140px;
  height: 40px;
}


@include tablet {
  .logo {
    width: 210px;
    height: 60px;
  }
}


@include desktop {
  .logo {
    width: 280px;
    height: 80px;
  }
}
