.page-body {
  min-width: $mobile-min-width;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Source Serif Pro", $reserve-font-family;
  color: $light-black;

  &--no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.page-body__aside-block {
  display: none;
}

.page-body__container {
  position: relative;
  max-width: $desktop-full-width;
  overflow: hidden;
  margin: 0 auto;

  &--inner {
    max-width: $desktop-width;
    overflow: visible;
  }
}


@include tablet {
  .page-body {
    font-size: 16px;
    line-height: 20px;
  }

  .page-body__container--inner {
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      width: 2px;
      background-color: $light-gray;
    }

    &::before {
      left: $tablet-padding;
    }

    &::after {
      right: $tablet-padding;
    }
  }
}


@include desktop {
  .page-body {
    font-size: 18px;
    line-height: 22px;
  }

  .page-body__container--inner {
    &::before {
      left: $desktop-padding;
    }

    &::after {
      right: $desktop-padding;
    }
  }
}


@include desktop-full {
  .page-body__aside-block {
    position: fixed;
    top: calc(50% - 70px);
    transform: translateY(-50%);

    &--js {
      display: flex;
    }
  }

  .page-body__section-counter {
    flex-direction: column;
  }

  .page-body__social-links {
    flex-wrap: nowrap;
    padding: 77px 0;
    transform: translateY(-150%) rotate(90deg);
    transform-origin: left bottom;
    opacity: 1;
    transition: opacity 0.4s;

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
