.page-header {
  position: relative;
  margin-bottom: $mobile-section-margin;
}

.page-header__bar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  &--js {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
}

.page-header__tel {
  display: none;
}


@include tablet {
  .page-header {
    margin-bottom: $tablet-section-margin;
  }

  .page-header__bar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    justify-content: flex-start;
  }

  .page-header__logo {
    position: static;
    z-index: auto;
  }

  .page-header__main-nav {
    order: 1;
  }

  .page-header__tel {
    display: block;
    padding: 21px 50px;
    margin-left: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: inherit;
    text-decoration: none;
  }
}


@include desktop {
  .page-header {
    position: relative;
    max-width: $desktop-full-width;
    margin: 0 auto;
    margin-bottom: $desktop-section-margin;
  }

  .page-header__bar {
    color: $gray;
  }

  .page-header__main-nav {
    order: 0;
  }

  .page-header__tel {
    padding: 29px 0;
    margin-left: 80px;
  }
}
