.page-footer {
  padding: 40px $mobile-padding 50px;
}

@include tablet {
  .page-footer {
    padding: 60px $tablet-padding 80px;
  }
}

@include desktop {
  .page-footer {
    padding: 70px $desktop-padding 100px;
  }
}
