.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  &--js {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
}

.page-header__main-nav {
  order: 1;
}

.page-header__tel-wrapper {
  display: none;
}


@include tablet {
  .page-header {
    justify-content: flex-start;
  }

  .page-header__tel-wrapper {
    display: block;
    padding: 19px 0;
    padding-right: $tablet-padding;
    margin: 0;
    margin-left: auto;
  }

  .page-header__tel {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    transition: color $transition-duration;

    &:focus {
      outline: none;
    }

    &:active,
    &:focus {
      color: $green;
    }
  }
}


@include desktop {
  .page-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .page-header__main-nav {
    order: 0;
  }

  .page-header__tel-wrapper {
    padding: 29px 0;
    margin-left: 70px;
  }

  .page-header__tel {
    color: $gray;

    &:hover,
    &:focus {
      color: $light-black;
    }

    &:active {
      color: $gray;
    }
  }
}
