.portfolio-item__photo-container {
  display: block;
  margin-bottom: 18px;
}

.portfolio-item__photo {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-item__hashtags {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.2;
}

.portfolio-item__caption {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}


@include tablet {
  .portfolio-item__description {
    padding: 0 5px;
  }

  .portfolio-item__caption {
    font-size: 16px;
  }
}


@include desktop {
  .portfolio-item__description {
    padding: 0 10px;
  }

  .portfolio-item__hashtags {
    font-size: 14px;
  }

  .portfolio-item__caption {
    font-size: 18px;
  }
}
