.portfolio-details {
  position: relative;
  padding: 48px 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 96px);
    background-image: url("../img/portfolio-details-bg-mobile@1x.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/portfolio-details-bg-mobile@2x.jpg");
    }
  }
}

.portfolio-details__content {
  position: relative;
  padding: 75px 15%;
  color: white;
  background-color: rgba(black, 0.5%);

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::after {
    top: -48px;
    right: $mobile-padding;
    bottom: -48px;
    left: $mobile-padding;
    border: 8px solid $green;
  }
}

.portfolio-details__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

.portfolio-details__pdf-icon {
  position: absolute;
  bottom: -4px;
  left: calc(100% + 10px);
  display: block;
  width: 24px;
  height: 27px;
}


@include tablet {
  .portfolio-details {
    padding: 0 $tablet-padding;

    &::before {
      z-index: 1;
      top: 72px;
      width: 35.15625%;
      height: 270px;
      background-image: url("../img/portfolio-details-bg-tablet@1x.jpg");

      @include retina {
        background-image: url("../img/portfolio-details-bg-tablet@2x.jpg");
      }
    }
  }

  .portfolio-details__content {
    padding: 88px 20.3125% 116px 37.5%;
    color: $light-black;
    background-color: transparent;

    &::before {
      z-index: -1;
      top: 0;
      right: 11.25%;
      bottom: 72px;
      left: 0;
      background-color: $light-gray;
    }

    &::after {
      top: 32px;
      right: 0;
      bottom: 0;
      left: 10%;
    }
  }

  .portfolio-details__title {
    font-size: 24px;
  }

  .portfolio-details__text {
    width: 270px;
  }

  .portfolio-details__pdf-icon {
    bottom: -4px;
    left: calc(100% + 20px);
    width: 32px;
    height: 36px;
  }
}


@include desktop {
  .portfolio-details {
    padding: 0 $desktop-padding;

    &::before {
      width: 42.36112%;
      height: 370px;
      background-image: url("../img/portfolio-details-bg-desktop@1x.jpg");

      @include retina {
        background-image: url("../img/portfolio-details-bg-desktop@2x.jpg");
      }
    }
  }

  .portfolio-details__content {
    box-sizing: border-box;
    max-width: 1100px;
    padding: 104px 270px 193px 480px;
    margin: 0 auto;

    &::before {
      right: auto;
      bottom: 104px;
      left: 0;
      width: 830px;
    }

    &::after {
      right: auto;
      left: 170px;
      width: 753px;
    }
  }
}
