.portfolio__samples-wrapper {
  margin-bottom: 60px;
}

.portfolio__samples-wrapper.fade-in-block--js {
  transform: translateY($mobile-fade-in-shift);
}

.portfolio__samples {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 $mobile-padding;
  margin-bottom: -60px;
  margin-left: -20px;
}

.portfolio__portfolio-item {
  flex-shrink: 0;
  width: 280px;
  margin: 0;
  margin-bottom: 60px;
  margin-left: 20px;
}

.portfolio__leaf {
  display: none;
}


@include mobile-only {
  .portfolio--js .portfolio__samples-wrapper {
    overflow: hidden;
  }

  .portfolio--js .portfolio__samples {
    position: relative;
    left: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: 0;
    transition: left 1s ease-out;
  }

  .portfolio--js .portfolio__portfolio-item {
    width: 240px;
    margin-bottom: 0;
    margin-left: 0;

    &:not(:last-of-type) {
      // 20 / 280
      padding-right: 7.142857%;
    }
  }
}


@include tablet {
  .portfolio {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 2px;
      background-color: $light-gray;
    }

    &::before {
      top: 80px;
      left: $tablet-rail-indent;
      bottom: -160px;
    }

    &::after {
      top: -80px;
      right: $tablet-rail-indent;
      bottom: -120px;
    }
  }

  .portfolio__samples-wrapper {
    margin-bottom: 80px;
  }

  .portfolio__samples-wrapper.fade-in-block--js {
    transform: translateY(0);
  }

  .portfolio__samples {
    justify-content: space-between;
    padding: 0 $tablet-padding;
    margin-bottom: -80px;
    margin-left: 0;
  }

  .portfolio__portfolio-item {
    // 200 / 640
    width: 31.25%;
    margin-bottom: 80px;
    margin-left: 0;

    &:nth-of-type(1),
    &:nth-of-type(3) {
      position: relative;
      top: 180px;
      margin-bottom: 0;
    }

    &:nth-of-type(4) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .portfolio__portfolio-item.fade-in-block--js {
    transform: translateY($mobile-fade-in-shift);
  }

  .portfolio__portfolio-item:nth-of-type(2).fade-in-block--visible {
    transition-delay: 0.4s;
  }

  .portfolio__portfolio-item:nth-of-type(3).fade-in-block--visible {
    transition-delay: 0.8s;
  }

  .portfolio__leaf {
    position: absolute;
    display: block;

    &--left {
      top: 180px;
      left: $tablet-padding;
      transform: translate(-50%, -50%) rotate(30deg);
    }

    &--middle-left {
      top: 80px;
      left: $tablet-rail-indent;
      transform: translate(-50%, -50%) rotate(80deg);
    }

    &--right {
      top: 210px;
      right: $tablet-padding;
      transform: translate(50%, -50%) rotate(-100deg);
    }
  }
}


@include desktop {
  .portfolio {
    &::before {
      top: 80px;
      left: $desktop-rail-indent;
      bottom: -200px;
    }

    &::after {
      top: -120px;
      right: $desktop-rail-indent;
      bottom: -160px;
    }
  }

  .portfolio__samples {
    box-sizing: border-box;
    max-width: $desktop-width;
    padding: 0 $desktop-padding;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__portfolio-item {
    width: 340px;
  }

  .portfolio__portfolio-item.fade-in-block--js {
    transform: translateY($desktop-fade-in-shift);
  }

  .portfolio__leaf {
    &--left {
      top: 200px;
      left: $desktop-padding;
    }

    &--middle-left {
      left: $desktop-rail-indent;
    }

    &--right {
      top: 240px;
      right: $desktop-padding;
    }
  }
}
