.portfolio-details {
  position: relative;
  padding: 48px 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 48px;
    bottom: 48px;
    left: 0;
    width: 100%;
    background-image: url("../img/portfolio-details-bg-mobile@1x.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/portfolio-details-bg-mobile@2x.jpg");
    }
  }
}

.portfolio-details.fade-in-block--js {
  transform: translateY($mobile-fade-in-shift);
}

.portfolio-details__content {
  position: relative;
  // side  -- 48 / 320
  padding: 74px 15% 80px;
  color: white;
  background-color: rgba(black, 0.5%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  &::after {
    top: -48px;
    right: $mobile-padding;
    bottom: -48px;
    left: $mobile-padding;
    border: 8px solid $green;
  }
}

.portfolio-details__title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

.portfolio-details__text {
  margin: 0;
  margin-bottom: 18px;
}

.portfolio-details__pdf-icon {
  position: absolute;
  bottom: -2px;
  left: calc(100% + 8px);
  display: block;
  width: 28px;
  height: 28px;
}


@include tablet {
  .portfolio-details {
    padding: 0 $tablet-padding;

    &::before {
      z-index: 1;
      top: 72px;
      // 270 / 768
      width: 35.15625%;
      height: 270px;
      background-image: url("../img/portfolio-details-bg-tablet@1x.jpg");

      @include retina {
        background-image: url("../img/portfolio-details-bg-tablet@2x.jpg");
      }
    }
  }

  .portfolio-details__content {
    // right -- 130 / 640
    // left -- 240 / 640
    padding: 100px 20.3125% 124px 37.5%;
    color: $light-black;
    background-color: transparent;

    &::before {
      z-index: -1;
      top: 0;
      // 72 / 640
      right: 11.25%;
      bottom: 72px;
      left: 0;
      background-color: $light-gray;
    }

    &::after {
      top: 32px;
      right: 0;
      bottom: 0;
      // 64 / 640
      left: 10%;
    }
  }

  .portfolio-details__title {
    margin-bottom: 24px;
    font-size: 24px;
  }

  .portfolio-details__text {
    width: 270px;
    margin-bottom: 20px;
  }

  .portfolio-details__pdf-icon {
    bottom: -4px;
    left: calc(100% + 20px);
    width: 36px;
    height: 36px;
  }
}


@include desktop {
  .portfolio-details {
    padding: 0 $desktop-padding;

    &::before {
      left: $desktop-padding;
      width: 470px;
      height: 370px;
      background-image: url("../img/portfolio-details-bg-desktop@1x.jpg");

      @include retina {
        background-image: url("../img/portfolio-details-bg-desktop@2x.jpg");
      }
    }
  }

  .portfolio-details.fade-in-block--js {
    transform: translateY($desktop-fade-in-shift);
  }

  .portfolio-details__content {
    padding: 132px 270px 182px 518px;

    &::before {
      right: 230px;
      bottom: 104px;
      left: 115px;
    }

    &::after {
      right: 115px;
      left: 230px;
    }
  }

  .portfolio-details__text {
    margin-bottom: 22px;
  }
}
