.price__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-bottom: -60px;
  margin-left: -20px;
  list-style: none;
}

.price__list-item {
  width: 280px;
  margin-bottom: 60px;
  margin-left: 20px;
}

.price__list-item.fade-in-block--js {
  transform: translateY($mobile-fade-in-shift);
}

.price__leaf {
  display: none;
}


@include tablet {
  .price {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 2px;
      background-color: $light-gray;
    }

    &::before {
      top: 80px;
      left: $tablet-rail-indent;
      bottom: -160px;
    }

    &::after {
      top: 0;
      right: $tablet-rail-indent;
      bottom: -80px;
    }
  }

  .price__list {
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: 0;
  }

  .price__list-item {
    // 200 / 640
    width: 31.25%;
    margin-bottom: 0;
    margin-left: 0;

    &--first,
    &--third {
      padding-top: 100px;
    }
  }

  .price__list-item:nth-of-type(2).fade-in-block--visible {
    transition-delay: 0.4s;
  }

  .price__list-item:nth-of-type(3).fade-in-block--visible {
    transition-delay: 0.8s;
  }

  .price__leaf {
    display: block;
    position: absolute;

    &--left {
      top: 80px;
      left: $tablet-rail-indent;
      transform: translate(-50%, -50%) rotate(20deg);
    }

    &--right {
      top: 0;
      right: $tablet-rail-indent;
      transform: translate(50%, -50%) rotate(-90deg);
    }
  }
}


@include desktop {
  .price {
    &::before {
      left: $desktop-rail-indent;
      bottom: -200px;
    }

    &::after {
      right: $desktop-rail-indent;
      bottom: -120px;
    }
  }

  .price__list-item {
    width: 340px;

    &--first,
    &--third {
      padding-top: 150px;
    }
  }

  .price__list-item.fade-in-block--js {
    transform: translateY($desktop-fade-in-shift);
  }

  .price__leaf {
    &--left {
      left: $desktop-rail-indent;
    }

    &--right {
      right: $desktop-rail-indent;
    }
  }
}
