.section {
  padding-top: 30px;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  &--no-side-paddings {
    padding-left: 0;
    padding-right: 0;
  }
}

.section__title {
  position: relative;
  width: 100%;
  padding-top: 60px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: $spread-letter-spacing;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: $mauve;
    transform: translateX(-50%);
  }
}


@include tablet {
  .section {
    padding-top: 40px;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;

    &--no-side-paddings {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .section__title {
    padding-top: 80px;
    margin-bottom: 60px;
    font-size: 24px;

    &::before {
      height: 40px;
    }
  }
}


@include desktop {
  .section {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;

    &--no-side-paddings {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .section__title {
    margin-bottom: 80px;
    font-size: 36px;
  }
}
