.social-links {
  display: flex;
  margin: 0;

  &--mobile-hidden {
    display: none;
  }
}

.social-links__link {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: $spread-letter-spacing;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray;
  user-select: none;

  &--mauve {
    color: $mauve;
  }

  &:not(:last-of-type) {
    position: relative;
    margin-right: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: calc(100% + 5px);
      width: 10px;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
      cursor: default;
      pointer-events: none;
    }
  }
}


@include tablet {
  .social-links {
    &--mobile-hidden {
      display: flex;
    }
  }
}


@include desktop {
  .social-links__link {
    font-size: 14px;
  }
}
