.social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;

  &--mobile-hidden {
    display: none;
  }
}

.social-links__link {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: $spread-letter-spacing;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray;
  transition: color $transition-duration;
  user-select: none;

  &:not(:last-of-type) {
    &::after {
      content: "\2014";
      display: block;
      margin: 0 5px;
      color: $gray;
      cursor: default;
      pointer-events: none;
    }
  }

  &--mauve {
    color: $mauve;

    &:not(:last-of-type)::after {
      color: $mauve;
    }
  }

  &:focus {
    outline: none;
  }

  &:active,
  &:focus {
    color: $light-black;
  }
}


@include tablet {
  .social-links {
    &--mobile-hidden {
      display: flex;
    }
  }
}


@include desktop {
  .social-links__link {
    font-size: 14px;

    &:focus:not(.focus-visible) {
      color: $gray;
    }

    &:hover:not(.focus-visible) {
      color: $light-black;
    }

    &:active:not(.focus-visible) {
      color: $gray;
    }

    &--mauve:active,
    &--mauve:focus:not(.focus-visible) {
      color: $mauve;
    }

    &--mauve:hover:not(.focus-visible) {
      color: $light-black;
    }

    &--mauve:active:not(.focus-visible) {
      color: $mauve;
    }
  }
}
