.social-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding-left: 26px;
  margin: 0;
  margin-bottom: -26px;
}

.social-btns__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin-right: 26px;
  margin-bottom: 26px;
  background-color: $dark-gray;
  transition: background-color $transition-duration;

  &:focus {
    outline: none;
  }

  &:active,
  &:focus {
    background-color: $green;
  }
}

.social-btns__btn-logo {
  display: block;
  width: 18px;
  height: 18px;
  fill: white;
}


@include tablet {
  .social-btns {
    padding-left: 34px;
    margin-bottom: -34px;
  }

  .social-btns__btn {
    width: 34px;
    height: 34px;
    margin-right: 34px;
    margin-bottom: 34px;
  }
}


@include desktop {
  .social-btns__btn {
    &:focus:not(.focus-visible) {
      background-color: $dark-gray;
    }

    &:hover:not(.focus-visible) {
      background-color: $green;
    }

    &:active:not(.focus-visible) {
      background-color: $dark-gray;
    }
  }
}
